
:root {
    --brand-color:#4D5AE5;
    --click-color:#404BBF;
    --dark-color:#2E2F42;
    --success-100:#31D0AA;
    --success-10:#31D0AA;
    --text-color:#434455;
    --subtle-color:#8E8F99;
    --accent-color:#E7E9FC;
    --light-color:#F4F4FD;
    --distance-gap:24px;
    --nomber-in-row:3;
}

html{box-sizing: border-box;}
*,
*::before,
*::after{box-sizing: inherit;}

body {
    color:var(--text-color);

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);

    letter-spacing: 0.02em;
    margin-bottom: 0;}

ul {list-style: none;}
h1,
h2,
h3,
p,
ul{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 1158px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid red; */
}

.section{
    padding: 120px 0;
}

.link {
    text-decoration: none;
    color: currentColor;

    padding-top: 24px;
    padding-bottom: 24px;
}

    /* header */
.border{
    border-bottom: 1px solid #E7E9FC;
}

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;

    line-height: calc(24 / 18);
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:var(--brand-color);
    }
.logo-header {
    color:var(--dark-color);
    margin-right: 76px;
} 

.current{
    color: var(--brand-color);
}

.current::after{
    position: absolute;
    bottom: -3px;

    content: '';
    display: block;
    width: 100%;
    height:4px ;
    background-color: var(--brand-color);
    border-radius: 2px;
}

.navigation,
.nav-list{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-set,
.address-list{
    display: flex;
    gap: 40px;
}

.nav-item {
    position: relative;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--text-color);
}

.address-item {
    color:var(--text-color);
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.address-item:hover,
.address-item:focus {
    color: var(--brand-color);
}

    /* hero */
.hero{
    text-align: center;
    padding-bottom: 188px;
    padding-top: 188px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--dark-color);
   background-image: linear-gradient(to right,
   rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)),
    url(../images/hero/people-office.jpg);
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: calc(60 / 56);
    color:#FFFFFF;
    
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
    width: 494px;
}

.btn{
    font-weight: 500;
    line-height: calc(19 / 16);
    font-family: inherit;
    font-size: inherit; 
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
    background-color:#4D5AE5;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus{
    background-color: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* feature */
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color:var(--dark-color);
    
    margin-bottom: 8px;
}

.features-list{
    display: flex;
    gap: 24px;
}

.feature-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
   
    background-color: var(--light-color);
    margin-bottom: 8px;
    border-radius: 4px;
}

/* what are we doing */
.title-big {
    font-weight: 600;
    font-size: 36px;
    line-height:calc(40 / 36);

    text-align: center;
    text-transform: capitalize;
    
    margin-bottom: 72px;
}

.works{
    padding-top: 0;
}

.work-set{
    display: flex;
    gap: 24px;
}
    
/* our team */
.team{
    background-color: #F4F4FD;
}

.team-list{
    display: flex;
    gap: 24px;
    text-align: center;  
}

.team-img{
    margin-bottom: 32px;
}

.cards-team{
    background-color: #FFFFFF;
    padding-bottom: 32px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.text{
    margin-bottom: 8px;
}

.socials-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus{
    background-color:var(--click-color);
    border-radius: 50%;
}

.socials{
    width: 40px;
    height: 40px;
    background-color: var(--brand-color);
    border-radius: 50%;
}

.social-icons{
    fill: var(--light-color);
}

/* customer */
.customers{
    text-align: center;
    padding-top: 130px;
    padding-top: 120px;
    padding-right:156px ;
    padding-left: 156px;
}

.customer{
    width: 168px;
    height: 88px;
}

.customer-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
}

.customer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    fill: var(--subtle-color);
    border:1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.customer-link:hover,
.customer-link:focus{
    fill: var(--click-color);
    border: 1px solid var(--click-color);
}
    /* footer */
.footer{
    padding: 100px 0;
    background-color: var(--dark-color);
}

.container-footer{
    display: flex;
}
.footer-list{
    margin-right: 120px;
}
.logo-footer {
    color:var(--light-color);
}

.text-footer {
    color:var(--accent-color);
    width: 264px;
    margin-top: 16px;
}  
.footer-media{
    margin-right: 80px;
}
.media{
    width: 40px;
    height: 40px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.media-link{
    display: flex;
    fill: var(--light-color);
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus{
    background-color:#31D0AA;
    border-radius: 50%; 
}

.media-list{
    display: flex;
    gap: 16px; 
}

.media-text{
    font-weight:500 ;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}

.subscribe-title {
    font-weight: 500;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 1);
    
}

.form-subscribe {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

.subscribe-input::placeholder{
    padding: 8px 16px;
    color: rgba(255, 255, 255, 0.6);
}

.btn-subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    padding: 8px 24px;
    gap: 16px;
    
    color: #FFFFFF;
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    border-radius: 4px;
}
/* portfolio */
.projects{
    padding-top: 76px;
    padding-bottom: 120px;
}

.btn-project {
    font-weight: 600;
   
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--brand-color);
    background-color:#F4F4FD;

    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding:12px 24px;

    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-project:hover,
.btn-project:focus {
    color: var(--light-color);
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.projects-filters{
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-bottom: 72px; 
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.project-border{
    padding: 32px 16px;
    background: #FFFFFF;

    border: 1px solid #E7E9FC;
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-item{
    display: inline-block;
    flex-basis: calc((100%-2*24px)/3);
    text-decoration: none;
    color: inherit;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}

.project-item:hover,
.project-item:focus{
    border: 0px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    color: var(--light-color);
    background-color: var(--brand-color);
    line-height: 1.5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    transform: translate(0, 100%);
}

.project-thumb:hover::before,
.project-thumb:focus::before{
    opacity: 1;
}

.project-item:hover .project-thumb::before,
.project-item:focus .project-thumb::before{
    transform: translateY(0);
}

.project-item:hover .project-text,
.project-item:focus .project-text{
    opacity: 1;
    transform: translate(0, 0);
}

.project-thumb{
    position: relative;
    overflow: hidden; 
}

.project-thumb::before{
    content: '';
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 0;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* modal */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}

.modal{
    position: absolute;
    min-width: 408px;

    top: 50%;
    left: 50%;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:active {
    background-color: var(--click-color);
    fill: #FFF;
}

.form-title {
    font-weight: 500;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.form-field{
   position: relative;
    display: block;
    margin-bottom: 8px;
    line-height: 16px;}

.form-label {
    font-size: 12px;
    color: #8E8F99;
    margin-bottom: 4px;
}

.form-input {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 50px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.form-icon{
    position: absolute;
    bottom: 8px;
    left: 16px;
    fill: #2E2F42;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-input:focus {
    border-color: var(--brand-color);
    outline: none;
}

.form-input:focus+.form-icon {
    fill: var(--brand-color);
}
.form-comment{
    display: block;
    width: 100%;
    height: 120px;
    font-size: 18px;
    margin-bottom: 16px ;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-comment:focus {
    border-color: var(--brand-color);
    outline: none;
}
.form-comment::placeholder{
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;

    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    font-size: 12px;
    margin-bottom: 24px;
    
    letter-spacing: 0.04em;
    color: #757575;
    user-select: none;
}

.form-checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;

    border: 1.25px solid #2E2F42;
    border-radius: 2px;

    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked {
    background-color: var(--click-color);
    border-color: var(--click-color);
}
.form-policy-link {
    text-decoration-line: underline;
    color: #4D5AE5;
}

.btn-send{
    display: block;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;

    color: #FFFFFF;
    background-color: var(--brand-color);
 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: var(--brand-color);
    border-radius: 4px;
}